*{ margin: 0; padding: 0;}
html,body{
    font-size: 12px; text-align: center; font-family: "微软雅黑"; height: 100%;
}
body{
    text-align: left;
}
ul li{
    list-style: none;
}
img{
    display: block; width: 100%;
}

@-webkit-keyframes mybot{
    0% { transform: translate(0,100%); opacity: 0; }
    100% { transform: translate(0,0); opacity: 1; }
}
.mybot{
	animation: mybot 1s; animation-fill-mode: forwards;
}
.wrap{
	width: 100%; height: 100%; position: relative;
	.num{
        position: absolute; left: 0; right: 0; bottom: 0; width: 660px; height: 100px; margin: 0 auto;
        ul{
        	width: 600px; height: 50px; display: flex; border: 1px solid #eee; border-bottom: none;
        	li{
        		flex: 1; height: 50px; text-align: center; line-height: 50px; font-size: 18px; border-right:1px solid #eee;
        		&:nth-last-child(1){
        			border-right: none;
        		}
        	}
        }
        dl{
        	width: 100%; height: 50px; display: flex; border: 1px solid #eee;
        	dd{
        		flex: 1; border-right: 1px solid #eee;
        		&:nth-last-child(1){
        			border-right: none;
        		}
        		.input_txt{
                    width: 58px; font-size: 18px; text-align: center; line-height: 50px; border: none;
                }
        	}
        	.btn_ok{
                width: 58px; height: 50px; border:1px solid #eee; border-radius: 8px; text-align: center; line-height: 50px;
            }
        }
    }
    .item{
        width: 600px; height: 601px; overflow: hidden; margin-bottom: 150px; 
        .y,.zx_y{
            height: 100%; position: absolute; left: 60px; top: 0; width: 1px; background: #eee;
            li{
                height: 1px; width: 600px; position: absolute; background: #eee;
                @for $i from 1 through 11 {
                    &:nth-child(#{$i}){
                        bottom: (49px * ($i - 1)) +(1px * ($i - 1));
                    }
                }
                p{
                    position: absolute; left: -60px; bottom: 0; width: 50px; font-size: 18px; text-align: right;
                }
            }
        }
        .x,.zx_x{
            width: 100%; position: absolute; left: 60px; bottom: 0; height: 1px; background: #eee; display: flex;
            li{
                width: 30px; background: #f00; position: absolute; bottom: 0;
                @for $i from 1 through 10 {
                    &:nth-child(#{$i}){
                        left: (30px * $i) +(30px * ($i - 1))
                    }
                }
            }
            
        }
        .zx_x{
        	li{
        		width: 1px; height: 600px; background: #eee;
        		@for $i from 1 through 11 {
                    &:nth-child(#{$i}){
                        left: (49px * $i) +(1px * ($i - 1));
                    }
                }
        	}
        }
        .zx_dot{
        	width: 500px; position: absolute; left: 60px; bottom: 0; height: 500px; display: flex; z-index: 2;
        	li{
        		width: 5px; height: 5px; background: #f00; position: absolute; border-radius: 100%;
        		@for $i from 1 through 11 {
                    &:nth-child(#{$i}){
                        left: (47px * $i) +(3px * ($i - 1));
                    }
                }
                p{
                	position: absolute; left: 0px; top: 0px; width: 5px; height: 5px; border-radius: 100%; background: #f00; z-index: 3; transform: scale(1);
                	&:hover{
                        transform: scale(1.5);
                    }
                }
        	}
        }
        .zx_zx{
        	width: 500px; position: absolute; left: 60px; bottom: 0; height: 500px;transform: rotateX(180deg);
        }
        .zx_cur{
        	position: absolute; width: 1px; height: 1px; background: #f00; display: none;
        	p:nth-child(1){
        		position: absolute; top: 0; width: 500px; height: 1px; background: #f00;
        	}
        	p:nth-child(2){
                position: absolute; left: 0; height: 500px; width: 1px; background: #f00;
            }
            p:nth-child(3){
            	position: absolute; left: 0; bottom: 0; width: auto; height: 20px; line-height: 20px; font-size: 12px; color: #222;
            }
        }
        .round{
            width: 600px; height: 600px; margin: 0 auto; border-radius: 100%; background: #eee; overflow: hidden; position: relative; border:none;
            li{
                width: 0; height: 0; position: absolute; top: 300px; left: 300px; transform-origin:left top; z-index: 0;
                p{
                    width: 300px; height: 300px; transform-origin: left top; position: absolute; top: 0; left: 0; z-index: 1; border:none;
                    &:nth-child(1){
                    	position: absolute; left: 0; top: 0; height: 230px; width: 1px; z-index: 2; opacity: 0.8;
                    	span{
                    		display: block; position: absolute; top: 150px; left: -15px; line-height: 15px; text-align: center; font-size: 12px;
                    		background: #fff; border-radius: 10px; color: #000; padding: 0 8px;
                    	}
                    }
                }
                &:nth-child(1){
                    p{
                        background: #f40f0f;
                    }
                }
                &:nth-child(2){
                    p{
                        background: #f8c30a;
                    }
                }
                &:nth-child(3){
                    p{
                        background: #f5f80a;
                    }
                }
                &:nth-child(4){
                    p{
                        background: #10d215;
                    }
                }
                &:nth-child(5){
                    p{
                        background: #2ff4e8;
                    }
                }
                &:nth-child(6){
                    p{
                        background: #1139cf;
                    }
                }
                &:nth-child(7){
                    p{
                        background: #8f60f0;
                    }
                }
                &:nth-child(8){
                    p{
                        background: #a20eb3;
                    }
                }
                &:nth-child(9){
                    p{
                        background: #666;
                    }
                }
                &:nth-child(10){
                    p{
                        background: blue;
                    }
                }
                &:hover{
                	z-index: 3 !important; 
                	p{
                		background: #000;
                		&:nth-child(1){
                			opacity: 1;
                			span{
                				z-index: 999;
                			}
                		}
                	}
                	
                }
            }
            
        }
        ul{
        	li:hover{
        		background: #f00;
        	}
        }
    }
    .item_fixed{
    	position: absolute; left: 0; top: 0;
    }
    .item_2{
    	position: absolute; left: 600px; top: 0;
    }
    .item_3{
        position: absolute; right: 0; top: 0;
    }
}
